<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="combit.ListLabel29" version="29.1.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.20.0" targetFramework="net48" />
  <package id="Namotion.Reflection" version="2.1.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NJsonSchema" version="10.9.0" targetFramework="net48" />
</packages>