<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.10.1" targetFramework="net45" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net40" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net462" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net462" />
</packages>