<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpenEdgeDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Sports2000Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <OpenEdgeDemo.Properties.Settings>
            <setting name="Userid" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="AppServerURL" serializeAs="String">
                <value>AppServer://localhost:5162/listlabel</value>
            </setting>
            <setting name="AppServerInfo" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>ListLabelDemo.Sports2000Service</value>
            </setting>
            <setting name="LayoutPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DesignerPreviewMaxRows" serializeAs="String">
                <value>50</value>
            </setting>
        </OpenEdgeDemo.Properties.Settings>
        <Sports2000Sample.Properties.Settings>
            <setting name="Userid" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="AppServerURL" serializeAs="String">
                <value>AppServer://localhost:5162/listlabel</value>
            </setting>
            <setting name="AppServerInfo" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>ListLabel.Samples.Sports2000Service</value>
            </setting>
        </Sports2000Sample.Properties.Settings>
    </userSettings>
</configuration>
